USE [DMAP_JIT_Permissions]
GO
/****** Object:  StoredProcedure [JITA].[p_PIM_RolKoppelen]    Script Date: 8-12-2025 13:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================	
-- Date       | Author					| Description 
-- 2025-12-03 | Brigitte Burgemeestre	| Created 

-- =============================================
CREATE OR ALTER          PROCEDURE [JITA].[p_PIM_RolKoppelen]
		@PIM_Rol_Naam nvarchar(255) NULL,
		@TypeRelatie nvarchar(255) NULL,
		@RelatieNaam nvarchar(255) NULL
AS
BEGIN

	DECLARE	@V_PIM_Rol_Naam nvarchar(255);
	DECLARE @PIM_ROL_ID int;
	DECLARE @PIM_RolStatus nvarchar(1);

	SELECT	@PIM_ROL_ID=PIM_ROL_ID, 
			@PIM_RolStatus=PIM_RolStatus 
	FROM	[JITA].[PIM_Rollen]
	WHERE	@PIM_Rol_Naam=PIM_Rol_Naam

	DROP TABLE  IF EXISTS #RelatieInfo
	CREATE TABLE #RelatieInfo
		(Relatienaam nvarchar (255) NULL,
		 TypeRelatie nvarchar (255) NULL
		)

    INSERT INTO #RelatieInfo 
	( Relatienaam, TypeRelatie)(
		SELECT RelatieNaam= A.Username,
		TypeRelatie='Username' 
		FROM [DMAP_MetaServices].[audit].[UserInfo] A
		GROUP BY A.Username
		UNION 
		SELECT RelatieNaam= A.Department,
		TypeRelatie='Department' 
		FROM [DMAP_MetaServices].[audit].[UserInfo] A
		GROUP BY A.Department
		UNION
		SELECT RelatieNaam= A.Division,
		TypeRelatie='Division' 
		FROM [DMAP_MetaServices].[audit].[UserInfo] A
		GROUP BY A.Division
		UNION
		SELECT RelatieNaam= 'UWV',
		TypeRelatie='Organization' 
		FROM [DMAP_MetaServices].[audit].[UserInfo] A)
	

IF @PIM_ROL_ID IS NULL
	PRINT N'PIM_Rol_Naam bestaat niet, kan PIM_rol niet Koppelen aan relatie';
ELSE IF @PIM_ROL_ID IS NOT NULL AND @PIM_RolStatus<>'A'
	PRINT N'PIM_Rol_Naam is niet actief, activeer PIM_ROL om PIM_Rol te kunnen Koppelen';
ELSE IF NOT EXISTS ( SELECT Relatienaam
					 FROM #RelatieInfo
					 WHERE @RelatieNaam=Relatienaam AND @TypeRelatie=TypeRelatie)
	PRINT N'Relatienaam (in combinatie met TypeRelatie) bestaat niet, kan PIM_rol niet Koppelen aan relatie ';
ELSE IF EXISTS ( SELECT R.Relatie_PIM_Rol_ID
				FROM [JITA].[Relatie_PIM_Rol] R
				WHERE	@RelatieNaam=R.Relatienaam 
					AND @TypeRelatie=R.TypeRelatie 
					AND R.Relatie_PIM_RolStatus='A' 
					AND @PIM_ROL_ID=R.PIM_Rol_id)
	PRINT N'Relatie_PIM_Rol bestaat al en is actief';
ELSE IF EXISTS ( SELECT R.Relatie_PIM_Rol_ID
				FROM [JITA].[Relatie_PIM_Rol] R
				JOIN [JITA].[PIM_Rollen] P
				ON R.PIM_Rol_ID=P.PIM_Rol_ID
				WHERE	@RelatieNaam=R.Relatienaam 
					AND @TypeRelatie=R.TypeRelatie 
					AND R.Relatie_PIM_RolStatus<>'A' 
					AND P.PIM_Rol_Naam=@PIM_Rol_Naam)
	PRINT N'Relatie_PIM_Rol bestaat al en is niet actief';
ELSE
	 BEGIN 
			INSERT INTO [JITA].[Relatie_Pim_Rol](
			    [PIM_Rol_ID]
			    ,[TypeRelatie]
				,[RelatieNaam]
				,[Relatie_PIM_RolStatus]
				,[Sys_EditedBy]
				,[Sys_InsertDate])
			VALUES(
				@PIM_ROL_ID
				,@TypeRelatie
				,@RelatieNaam
				,'A'
				,SYSTEM_USER
				,GETDATE()
			);
	 END


END
